@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --primary-color: #007c7c; /*007c7c-336633-d1d1d1-ffd700-c8c8d0*/
    --secondary-color:#336633;
    --accent1-color: #d1d1d1;
    --accent2-color: #ffd700;
    --heading-font: 'Rototo' sans-serif;
    --paragraph-font: 'Montserrat', sans-serif;    
    /*opcion 2: cbe1ed-1f7a38-bbbbbb-ff7f00-d56062*/
    --nav-background-color:#cbe1ed;
    --nav-link-color: #1f7a38;
    --nav-hover-link-color: #bbbbbb;
    --nav-hover-background-color: #d56062;
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font); 
    color: var(--primary-color)
  }

header{
    padding: 20px;
    background-color: var(--accent1-color);
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
	border-bottom: 1px solid var(--secondary-color);
	max-width: 1000px;
  }
header img{
    max-width: 1000px;
}
nav{
    text-align: right;
    display: flex;
    justify-content: center;
}
.navigation{
    display: flex;
	list-style: none;
}
.navigation a{
    padding: 10px;
    background-color: var(--primary-color);
    opacity: 0.40;
    color: var(--accent2-color);
    display: block;
}
.navigation a:hover {
	color: var(--nav-background-color);
	font-weight: 700;
	text-decoration: underline;
}
p{
    padding: 25px;
  }

.history-section {
    padding: 20px;
    text-align: center;
    background-color: var(--accent1-color); 
}

.history-content {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    align-items: center;
    border: #007c7c;
}
.history-content img {
    max-width: 100%;
    height: auto;
    border: #007c7c;
}
.history-text {
    text-align: justify;
    margin: 0 10px;
}
.hero{
    position: relative;
}   
.hero img{
    display: block;
    width: 100%;
    height: auto;
}
.hero h1{
    position: absolute;
    top: 20px;
    right: 400px ;
}
.hero article{
    position: absolute;
    bottom: 300px;
    opacity: 0.87;
}
.hero article img{
    float: right;
    margin-left: 10px;
    margin-top: 30px;
    width: 200px;
}
.hero article p{
    padding: 25px;
    background-color: var(--accent1-color);
}
.adventures-section {
    padding: 20px;
    background-color: var(--accent1-color); 
    text-align: center;
}  
.adventures-grid {
    display: grid;
    grid-template-columns: repeat(5, auto); 
    gap: 10px;
    align-items: center;
}
figure {
    margin: 0;
    text-align: center;
}
figure img {
    width: 100%;
    height: auto;
    display: block;
}
figcaption {
    margin-top: 5px;
    font-style: italic;
    color: #555;
}
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--accent1-color); 
}
footer p {
    margin: 0;
}

button {
    margin: 1rem;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
}

form {
    width: 650px;
    margin: 5px;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    background-color: var(--accent1-color);
    display: grid;
}

fieldset {
    display: grid;
    grid-gap: .5rem;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;  
}

button:hover{
    background-color: var(--nav-hover-background-color);
}

.sociallinks {
    display: flex;
    gap: 10px; /* Espacio entre los iconos */
}
.sociallinks a {
    display: inline-block;
}
.sociallinks img {
    width: 30px; 
    height: auto;
}

.contact {
    padding: 5px;
}

.map {
    border: 0;
}

.form-contact {
    padding: 5px;
    display: grid;
    align-items: start;
}

.container-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 20px    ;
    margin-bottom: 50px;
}
.contact-info {
    flex: 1;
    margin-right: 20px;
}
.contact {
    margin: 10px 0;
}

.map iframe {
    width: 100%;
    max-width: 450px;
    height: 250px;
}

.image-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}
.boton {
    align-items: center;
}
.button-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 15px;
}